.spinner-main-container {
    width: 100%;
    padding-top: 5%;
    padding-right: 30%;
    z-index: 1;

    .spinner-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .spinner-text {
        padding-top: 5%; //use 2% istead of 5%
        display: flex;
        justify-content: center;
        align-items: center;
        color: #a6a6a6;
    }
}



