.home-page-container {
    position: relative;
    height: 100vh;
    overflow: hidden;
    background-color: #ffffff;

    .top-row {
        height: 15vh;
    }

    .content-row {
        .left-col {
            height: 85vh;

            .home-heading-container {
                font-size: 20px;
                color: #545454;
                padding-left: 20%;
                padding-top: 4%;

                span {
                    color: #ff9248;
                }
            }

            .home-left-content-container {
                padding-left: 20%;
                padding-top: 5%;
                width: 100%;
            }

            .home-left-shape {
                width: 90%;
                position: absolute;
                top: 35%;
                left: -20%;
                object-fit: cover;
                z-index: 0;
            }
        }

        .right-col {
            height: 80vh;

            .home-right-shape-container {
                .home-right-shape {
                    width: 100%;
                    position: absolute;
                    top: -105%;
                    left: 4%;
                    object-fit: cover;
                }
            }

            .home-banner-container {
                .home-banner {
                    position: absolute;
                    padding-top: 4%;
                    width: 50%;
                    right: -10%;
                }

                .analyze-banner {
                    position: absolute;
                    padding-top: 8%;
                    width: 70%;
                    right: -20.5%;
                }

                .legit-banner {
                    position: absolute;
                    padding-top: 14%;
                    width: 70%;
                    left: 20%;
                }

                .spam-banner {
                    position: absolute;
                    padding-top: 18%;
                    width: 74%;
                    left: 20%;
                }
            }
        }
    }
}
